:root {
	--main-accent-color: #bbf330;
	--secondary-accent-color: #ffe450;
	--color-detalis: #7eb101;
}
body {
	font-family: "Roboto", sans-serif;
	color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* ----------------------------Common classes--------------------------- */
.container {
	width: 1278px;
	margin: 0 auto;
	padding: 0 15px;
	/* outline: 1px solid teal; */
}
.list {
	list-style: none;
}

.link {
	text-decoration: none;
	color: #2c2c2c;
}

.btn-main {
	font-family: "Roboto", sans-serif;
	cursor: pointer;
	font-weight: 500;
	font-size: 13px;
	line-height: 1.53;
	color: #2c2c2c;
	background-color: var(--main-accent-color);
	border: 0;
	border-radius: 30px;
}

.btn-main:hover,
.btn-main:focus {
	background-color: var(--secondary-accent-color);
}

.btn-secondary {
	font-family: "Roboto", sans-serif;
	cursor: pointer;
	font-weight: 500;
	font-size: 13px;
	line-height: 1.53;
	color: #2c2c2c;
	background: #ffffff;
	border: 2px solid var(--color-detalis);
	border-radius: 30px;
}

.btn-secondary:hover,
.btn-secondary:focus {
	background: var(--main-accent-color);
	border-radius: 30px;
	border: 2px solid var(--main-accent-color);
}

/* ----------------------------------------------------------------Home---------------------------------------------------------------- */

/* ----------------------------Header--------------------------- */
.header {
	background: #fefefe;
	box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
	margin-bottom: 14px;
}
.header-content {
	display: flex;
	align-items: center;
}
.header-logo {
	margin-right: 735px;
}
.header-navigation {
}
.header-list {
	display: flex;
	gap: 28px;
}
.header-item {
	padding: 28px 0;
}
.header-link {
	font-size: 14px;
	line-height: 1.14;
	padding: 28px 0;
}

.header-link:hover,
.header-link:focus {
	color: var(--main-accent-color);
	text-decoration: underline;
}

.header-btn {
	margin-left: 30px;
	padding: 6px 18px;
	min-width: 98px;
	justify-content: flex-end;
}

/* ----------------------------Hero--------------------------- */

.hero {
}
.hero-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hero-title {
	max-width: 502px;
	margin-bottom: 28px;

	font-weight: 700;
	font-size: 48px;
	line-height: 1.2;
}
.hero-img {
	display: block;
}
.hero-text {
	max-width: 511px;
	margin-bottom: 40px;

	font-size: 16px;
	line-height: 1.5;
}
.hero-btn {
	padding: 6px 18px;
	min-width: 98px;
}

/* ----------------------------Features--------------------------- */

.features {
	background-color: yellow;
}
.features-content {
	display: flex;
	gap: 90px;
}
.features-title {
	margin-bottom: 20px;
	max-width: 526px;

	font-weight: 700;
	font-size: 42px;
	line-height: 1.2;
}
.features-subtitle {
	margin-bottom: 40px;
	max-width: 500px;

	font-size: 16px;
	line-height: 1.5;
}
.features-icon-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #fff;
}
.features-list {
	display: flex;
	gap: 67px;
}
.features-item {
}
.features-slogan {
	margin-bottom: 16px;

	font-weight: 700;
	font-size: 18px;
	line-height: 1.4;
}
.features-text {
	max-width: 253px;
	margin-bottom: 32px;

	font-size: 14px;
	line-height: 1.5;
}
.features-btn {
	padding: 10px 22px;
}

/* ----------------------------Favorites--------------------------- */

.favorites {
}
.favorites-title {
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	text-align: center;
}
.favorites-subtitle {
	margin-bottom: 40px;

	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}
.favorites-list {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	justify-content: center;
	align-items: center;
}
.img {
}
.favorites-item {
	width: 394px;
	height: 397px;
}

/* ----------------------------Feedback--------------------------- */

.feedback {
	/* background-color: yellow; */
	background-image: url(../images/customers-bg.jpg);
	padding-top: 100px;
	padding-bottom: 200px;
	background-repeat: no-repeat;
	background-position: center;
}
.feedback-title {
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
}
.feedback-subtitle {
	margin-bottom: 32px;

	font-size: 16px;
	line-height: 1.19;
}
.feedback-icons {
	margin-bottom: 28px;
}
.feedback-list {
	display: flex;
	gap: 139px;
}

.feedback-item {
	background-color: #ffffff;
	max-width: 501px;
	padding: 14px;
	border-radius: 0px 30px 30px 30px;
}
.container-img-name {
	display: flex;
}
.container-name {
	margin-left: 16px;
	border-right: 1px solid #7eb101;
	padding-top: 4px;
	padding-right: 14px;
	padding-bottom: 4px;
}
.feedback-quote {
	margin-bottom: 40px;

	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
}
.feedback-name {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
}
.feedback-text {
	font-size: 14px;
	line-height: 1.5;
}

/* ----------------------------Subscribe--------------------------- */
.subccribe {
	padding-bottom: 64px;
}
.subscribe-title {
	max-width: 656px;
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 42px;
	line-height: 1.2;
}
.subscribe-subtitle {
	max-width: 532px;
	font-size: 16px;
	line-height: 1.5;
}
.subscribe {
	display: flex;
	align-items: center;
}

/* ----------------------------Footer--------------------------- */

.footer {
	background: #fefefe;
	box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}
.footer-container {
	background-image: url(../images/footer-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1211px 266px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.footer-logo {
	margin-right: 148px;
}
.footer-navigation {
}
.footer-list {
	display: flex;
	gap: 28px;
}
.container-footer-nav {
	display: flex;
	align-items: center;
	margin-bottom: 129px;
}
.container-footer-policy {
	display: flex;
	align-items: center;
}
.footer-item {
}
.footer-link {
	font-size: 14px;
	line-height: 1.14;
}

.footer-items {
	display: flex;
	gap: 20px;
}
.footer-details {
	font-size: 12px;
	line-height: 1.17;
	text-decoration-line: underline;
	color: var(--color-detalis);
}
.footer-text {
	margin-left: auto;
	font-size: 12px;
	line-height: 1.17;
}
